.banImgCont {
  /* background-color: coral; */
  /* top: -150px; */
  /* bottom: 190px; */
  /* overflow: hidden; */
  /* border: rgb(0, 0, 0) dashed 1px; */
}

.bannerImage {
  background-color: transparent;
  /* height: 750px; */
  height: auto;
  /* width: 1050px; */
  width: 100%;
  padding: 0px;
  border-radius: 10px;
  /* position: relative; */
  /* top: -250px; */
  margin-left: auto;
  margin-right: auto;
  /* bottom: 250px; */
  /* bottom: 25%; */
  /* border: rgb(0, 0, 0) dashed 1px; */
}

.imgCont {
  position: relative;
  display: block;
  justify-content: center;
  text-align: center;
  /* border: rgb(255, 0, 0) dashed 5px; */
}

.imgCol {
  position: relative;
  justify-content: center;
  text-align: center;
}

.greeting {
  height: 100%;
  /* width: 100%; */
  justify-content: center;
  text-align: center;
  /* border: rgb(255, 2, 141) solid 1px; */
}

.profilegreet {
  text-align: center;
  justify-content: center;
  position: relative;
  bottom: 100px;
  color: black;
}

.nCont {
  text-align: center;
}

#DF {
  font-family: "Press Start 2P", cursive;
  color: black;
}

.Name {
  font-size: 100px;
  font-stretch: expanded;
  font-family: "Spartan", sans-serif;
  /* border: 1px black solid; */
}
