.bannerImage {
  background-color: transparent;
  height: 600px;
  width: 900px;
  padding: 0px;
  border-radius: 10px;
  bottom: 0px;
  /* border: rgb(0, 0, 0) dashed 1px; */
}

.imgCont {
  position: relative;
  top: -150px;
  justify-content: center;
  text-align: center;
  /* border: rgb(255, 0, 0) dashed 1px; */
}

.nCont {
  position: relative;
  bottom: 290px;
  text-align: center;
  /* border: rgb(0, 66, 247) dashed 1px; */
}
