.bannerImage {
  background-color: transparent;
  height: auto;
  width: 100%;
  padding: 0px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.imgCont {
  position: relative;
  display: block;
  justify-content: center;
  text-align: center;
}

.imgCol {
  position: relative;
  justify-content: center;
  text-align: center;
}

.greeting {
  height: 100%;
  justify-content: center;
  text-align: center;
}

.profilegreet {
  text-align: center;
  justify-content: center;
  position: relative;
  bottom: 100px;
  color: black;
}

.nCont {
  text-align: center;
}

#DF {
  font-family: "Press Start 2P", cursive;
  color: black;
}

.Name {
  font-size: 100px;
  font-stretch: expanded;
  font-family: "Spartan", sans-serif;
  /* border: 1px black solid; */
}
