.myName {
  left: 0;
  right: 0;
  line-height: normal;
  top: 42%;
  width: 100%;
  margin: 0 auto;
  font-size: 30px;
  text-align: center;
  font-family: "Varela Round", sans-serif;
  transform: rotate(-25deg);
  word-wrap: break-word;
  position: absolute;
  align-items: center;
  color: black;
  text-shadow: 0px 0px 6px #000;
  /* border: rgb(223, 6, 6) solid 1px; */
}

.myNameCont1 {
  display: flex;
  margin: 0 auto;
  align-items: center;
  /* border: rgb(0, 0, 0) solid 2px; */
  justify-content: center;
  position: absolute;
  width: 250px;
  height: 200px;
}

.MNC1 {
  left: 0;
  right: 0;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  line-height: 4;
  position: relative;
  overflow: visible;
  align-items: center;
  box-shadow: inset 0px 0px 50px 24px #ffbf69;
  border: #ff9f1c solid 2px;
}

.MNC2 {
  padding: 0;
  width: 150px;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: inline-block;
  width: auto;
  position: relative;
  border-radius: 50%;
  background: #ffbf69;
  box-shadow: 0px 0px 50px 15px #000000ce;
  /* border: rgb(48, 2, 253) solid 5px; */
}
