.mainNC {
  /* border: rgb(255, 0, 0) dashed 1px; */
  position: relative;
  bottom: 150px;
}

.MNC2 {
  left: 0;
  right: 0;
  padding: 0;
  width: 150px;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  display: inline-block;
  width: auto;
  position: relative;
  /* border: rgb(255, 225, 0) dashed 1px; */
}

.MNC1 {
  left: 0;
  right: 0;
  /* width: auto; */
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  align-items: center;
  box-shadow: inset 0px 0px 50px 24px #ffbf69;
  border: #ff9f1c solid 2px;
}

.myNameCont1 {
  /* border: rgb(255, 225, 0) dashed 1px; */
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 250px;
  height: 220px;
}

.mypic {
  width: 225px;
  height: 220px;
  border-radius: 50%;
  border: #ffbf69 solid 5px;
}
