.worksT {
  font-family: "Crete Round", serif;
  color: black;
  font-size: 36px;
  border-bottom: 2px black solid;
  text-align: center;
}

.worksST {
  font-family: "Crete Round", serif;
  color: black;
  font-size: 24px;

  text-align: left;
}

.wST {
  font-family: "Crete Round", serif;
  color: black;
  font-size: 18px;
  border-bottom: 2px black solid;
  text-align: left;
  line-height: 1.5;
  /* text-shadow: 2px 2px 5px rgb(128, 127, 127); */
}
