.worksT {
  font-family: "Crete Round", serif;
  color: black;
  font-size: 36px;
  border-bottom: 2px black solid;
  text-align: center;
}

.worksST {
  font-family: "Crete Round", serif;
  color: black;
  font-size: 24px;
  text-align: left;
}

.wST {
  font-family: "Crete Round", serif;
  color: black;
  font-size: 18px;
  /* border-bottom: 2px black solid; */
  text-align: left;
  line-height: 1.5;
  /* text-shadow: 2px 2px 5px rgb(128, 127, 127); */
}

.WorksOuterCont {
  background-color: #ffbf69;
  border-radius: 25px;
}

.KKlink {
  font-family: "Crete Round", serif;
  font-size: 24px;
}

a.KKlink:link {
  color: black;
  text-decoration: none;
}
a.KKlink:visited {
  text-decoration: none;
  color: inherit;
}
a.KKlink:hover {
  text-decoration: none;
  color: black;
}
a.KKlink:active {
  text-decoration: none;
  color: inherit;
}
