html {
  background-color: #2ec4b6;
}
.pg {
  justify-content: center;
  background-color: #ffbf69;
  border: black dashed 5px;
  /* position: relative; */
  top: -50px;
}
.subPg {
  justify-content: center;
  background-color: #ffbf69;
  /* border: black dashed 5px; */
}
.pgcont {
  /* border: black 4px solid; */
  background-color: #ffbf69;
  border-radius: 25px;
  box-shadow: 0px 0px 250px 10px #ffbf69;
}
.mCont1 {
  background-color: #2ec4b6;
  /* border: purple 1px solid; */
}
.row {
  /* border: rgb(0, 255, 0) solid 1px; */
}
.col {
  /* border: rgb(255, 0, 0) dashed 1px; */
}
.container {
  /* border: blue dotted 1px; */
}
.left {
  /* border: rgb(0, 255, 0) solid 1px; */
}
.right {
  /* border: rgb(255, 0, 0) dashed 1px; */
}
