html {
  background-color: #2ec4b6;
}

.main {
  background-color: #2ec4b6;

  /* border: purple solid 5px; */
}

.gl {
  /* border: orange solid 2px; */
}
.sb {
  /* border: royalblue solid 2px; */
}
.ps {
  /* border: rgb(125, 252, 157) solid 2px; */
}

.pg {
  justify-content: center;
  background-image: linear-gradient(#000000, #858585, #ffbf69, #ffbf69);
  margin: 0px;
  padding: 0px;
  position: relative;
  bottom: 20px;
  /* border: black dashed 5px; */
}
.subPg {
  justify-content: center;
  background-color: transparent;
  background-image: transparent;
  height: 100%;
  position: relative;
  /* border: blue dashed 5px; */
}
.pgcont {
  /* border: black 4px solid; */
  /* background-color: #ffbf69; */
  border-radius: 25px;
  /* box-shadow: 0px 0px 250px 10px #ffbf69; */
}
.mCont1 {
  /* background-color: #2ec4b6; */
  height: 700px;
  position: relative;
  /* bottom: 200px; */
  /* border: purple 1px solid; */
}

.outerCont {
  background-color: #ffbf69;
  border-radius: 25px;
}

.greetR {
  /* height: 100%; */
}

.row {
  /* border: rgb(0, 255, 0) solid 1px; */
}
.col {
  /* border: rgb(255, 0, 0) dashed 1px; */
}
.container {
  /* border: blue dotted 1px; */
}
.left {
  /* border: rgb(0, 255, 0) solid 1px; */
}
.right {
  /* border: rgb(255, 0, 0) dashed 1px; */
  /* border: rgb(255, 0, 0) dashed 1px; */
}
